/* Общие стили для формы */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для полей ввода */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для кнопки "Войти" */
.form-container button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Стили для кнопки "Войти" при наведении */
.form-container button:hover {
  opacity: 0.8;
}

/* Стили для неактивной кнопки "Войти" */
.form-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
